body{
    background-color: red;

    
}
#cv-template{
    display: none;
}
.myimg{
    border-radius: 50%;
    width: 250px;
    height: 5cm;
}
.background{
    background-color: black;
}